@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: ProximaNova;
	font-display: swap;
	src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: ProximaNova;
	font-display: swap;
	src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: ProximaNovaCond;
	font-display: swap;
	src: url("../fonts/ProximaNovaCond-Regular.woff2") format("woff2"), url("../fonts/ProximaNovaCond-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: ProximaNovaCond;
	font-display: swap;
	src: url("../fonts/ProximaNovaCond-Semibold.woff2") format("woff2"), url("../fonts/ProximaNovaCond-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
